extends ../../layouts/default.pug

block main
    h1(class="mb-4") Phân quyền
    if(records)
        div(data-records= records)
    div(class="text-right")
        button(
            type="submit"
            class="btn btn-primary mb-3"
            button-submit
        ) Cập nhật 
    
    table(
        class="table table-hover table-sm"
        table-permissions
    )
        thead 
            tr 
                th Tính năng
                each item in records 
                    th(class="text-center") #{item.title}
        
        tbody
            tr(data-name="id")
                td 
                    each item in records 
                        td(class="text-center")
                            input(type="text" value=item.id)
            tr 
                td(colspan="4")
                    b Danh mục sản phẩm
            tr(data-name="product-category_views")
                td Xem
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product-category_create")
                td Thêm mới
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            
            tr(data-name="product-category_edit")
                td Chỉnh sửa 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
                
            tr(data-name="product-category_delete")
                td Xóa
                each item in records   
                    td(class="text-center")
                        input(type="checkbox") 

            tr 
                td(colspan="4")
                    b Danh sách sản phẩm 
            tr(data-name="product_views")
                td Xem
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="product_create")
                td Thêm mới 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            
            tr(data-name="product_edit")
                td Chỉnh sửa 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
                
            tr(data-name="product_delete")
                td Xóa
                each item in records   
                    td(class="text-center")
                        input(type="checkbox") 
            tr 
                td(colspan="4")
                    b Danh sách tài khoản
            tr(data-name="account_views")
                td Xem
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="account_create")
                td Thêm mới 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            
            tr(data-name="account_edit")
                td Chỉnh sửa 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
                
            tr(data-name="account_delete")
                td Xóa
                each item in records   
                    td(class="text-center")
                        input(type="checkbox")
            tr 
                td(colspan="4")
                    b Phân quyèn tài khoản
            tr(data-name="role-permission_views")
                td Xem
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="role-permission_create")
                td Thêm mới 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            
            tr(data-name="role-permission_edit")
                td Chỉnh sửa 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
                
            tr(data-name="role-permission_delete")
                td Xóa
                each item in records   
                    td(class="text-center")
                        input(type="checkbox") 
            tr 
                td(colspan="4")
                    b Danh sách nhóm quyền
            tr(data-name="role_views")
                td Xem
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            tr(data-name="role_create")
                td Thêm mới 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
            
            tr(data-name="role_edit")
                td Chỉnh sửa 
                each item in records  
                    td(class="text-center")
                        input(type="checkbox")
                
            tr(data-name="role_delete")
                td Xóa
                each item in records   
                    td(class="text-center")
                        input(type="checkbox") 
        
    form(
        id="form-change-permissons"
        method="POST"
        action=`${prefixAdmin}/roles/permissions?_method=PATCH`
    )
        div(class="form-group")
            input(
                type="text"
                class="form-control"
                name="permissions"
            )      
    script(src="/admin/js/roles.js") 